<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheController.dll" version="1.4.1" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Neo4jClient" version="1.0.0.500" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
</packages>